/* --------------site-contact------------- */

.site-contact {
    display: flex;
    // margin-left: auto;
    align-content: center;
    @media (max-width:768px) {
            display: none;
        }
    @media screen and (min-width:768px) and(max-width:1199px){
    flex-direction: column;  
    gap: 10px; 
    align-items: flex-start;
    }  
  
}

.site-contact__link {
    color: var(--secondary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    align-items: center;
    display: flex;
    justify-content: center;
}



.link {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,&:hover{
    color: var(--accent-color);
    }
       
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.site-contact__icon {
    margin-right: 10px;
    fill: currentColor;
    @media screen and (min-width:768px) and(max-width:1199px) {
        gap: 12px;}

}
.site-contact__item:not(:first-child) {
    @media (min-width:1200px) {
    margin-left: 50px;
    }
    
}